<!-- _includes/schema.html -->
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "@id": "https://abeljansma.nl/#person",
      "name": "Abel Jansma",
      "givenName": "Abel",
      "familyName": "Jansma",
      "url": "{{ site.url }}",
      "image": "{{ site.url }}/assets/profile_pics/abel_herbst_circle.png",
      "jobTitle": "Researcher",
      "worksFor": {
        "@type": "Organization",
        "name": "University of Amsterdam",
        "url": "https://www.uva.nl"
      },
      "sameAs": [
        "https://scholar.google.com/citations?user=INJd_nIAAAAJ",
        "https://www.linkedin.com/in/abeljansma/",
        "https://x.com/Abelaer",
        "http://twitter.com/Abelaer",
        "https://bsky.app/profile/abelaer.bsky.social",
        "https://orcid.org/0000-0002-1734-637X"
      ],
      "alumniOf": [
        {
          "@type": "Organization",
          "name": "Max Planck Institute"
        },
        {
          "@type": "Organization",
          "name": "University of Edinburgh"
        }
      ],
      "knowsLanguage": [
        "Dutch",
        "English",
        "German"
      ]
    }
    </script>