@charset "utf-8";

// Define defaults for each variable.

//$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, //Arial, sans-serif, "Apple Color Emoji", "Segoe UI E
//Emoji", "Segoe UI Symbol" !default;

$base-font-family: 'Crimson text','Libre Baskerville', serif; //Add 'Nunito Sans' to beginning to make all sans.
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$headAndFoot-font-family: 'Nunito Sans', Helvetica, sans-serif;
$spacing-unit:     30px !default;

$text-color:       #0D0D0D !default;
$background-color: #F2F2F2 !default;
$brand-color:      #F26241 !default;
$blueBrand-color:  #07338C !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
